body{
    font-family: 'Lato', sans-serif;
    /* font-family: 'Lora', serif; */
}

.bg-image{
    background-image:   linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
                        url(../img/Forever-Header.jpg);
    /* background-position: center center; */
    background-repeat: no-repeat;
    background-size: 100% 700px;
    
    /* opacity: 0.5; */
    /* transition: background 0.3s, border-radius 0.3s, opacity 0.3s; */
    /* position: fixed; */

}

.text-purple{
    background-color: #A020F0;
}

.bg-green{
    background: #28ff45;
}

.text-lightblue{
    color: #025971;
}
.text-lightblue-1{
    color: #025971;
}
.text-blue-1{
    color: #133196;
}

.nav-lin{
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out;
}

.border{
    background: #ffffff;
    border: 2px solid #002bff !important;
    /* border: #002bff solid 1px; */
}
.top-border{
    background: #ffffff;
    border-top: 2px solid #002bff !important;
    /* border: #002bff solid 1px; */
}

.testimony{
    height: 80vh;
}

.my-card{
    height: 200px;
    box-shadow: #000 2px 1px 20px -6px;
    border-radius: 5px;
    position: relative;
}

.ml-2{
    margin-left: 2rem;
}

.round {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.text-cent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}