html,
body{
    font-family: 'Lato', sans-serif;
    /* font-family: 'Lora', serif; */
    margin: 0;
    padding: 0;
    width: 100%;
    
}

.bg-image{
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 700px;
    top: 5px;
    left: 50px;
    height: 90vh;
    width: 100%;
    

}

.bg-image-overlay{
    height: 90vh;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
                url(../img/4.jpg);
    background-size: cover;
    padding: 0;
    margin: 0;
    background-attachment: fixed;
    width: 100%;
}
.other{
    width: 100%;
    
}
.overflow{
    overflow: hidden;
}

.text-purple{
    background-color: #A020F0;
}

.bg-green{
    background: linear-gradient(120deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
                url(../img/3.jpg);
    color: #FFF;
    background-size: cover;
    background-attachment: fixed;
}

.text-lightblue{
    color: #025971;
    padding: 0;
    margin: 0;
}
.text-lightblue-1{
    color: #025971;
}
.text-blue-1{
    color: #133196;
}

.nav-lin{
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out;
}

.border{
    background: #ffffff;
    border: 2px solid #002bff !important;
    /* border: #002bff solid 1px; */
}
.top-border{
    background: #ffffff;
    border-top: 2px solid #002bff !important;
    /* border: #002bff solid 1px; */
}

.testimony{
    height: 70vh;
}

.my-card{
    height: 200px;
    box-shadow: #000 2px 1px 20px -6px;
    border-radius: 5px;
    position: relative;
}

.ml-2{
    margin-left: 2rem;
}

.round {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.text-cent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-card {
    position: relative;
}

.my-arrow {
    font-size: 10rem;
}

.mf-10 {
    margin-left: 20rem;
    margin-right: 20rem;
}

.position-relative{
    position: relative;
}

.position-relative{
    position: relative;
}

.my-bg-dark{
    background: linear-gradient(120deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
                url(../img/3.jpg);
    color: #FFF;
    background-size: cover;
    background-attachment: fixed;
    
}

.upcase{
    text-transform: uppercase;
}

.lowcase{
    text-transform: lowercase;
}