@import 'config';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lora', serif;
    padding: 0;
    margin: 0;
}

.hero {
    position: relative;
    background: linear-gradient(20deg, rgba(0, 0, 0, .6) 65%, rgba(#F7FF00, .6)),
                url(../img/4.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    padding: 2rem;


    &-top {
        text-align: center;
        align-items: center;
        color: #fff;
        & span{
            display: inline-block;
            width: 32%;
            text-align: center;

            & i {
                margin-right: 10px;
            }
        }
    }

    &-main {
        align-items: center;
        text-align: center;
        // position: absolute;
        // width: 100%;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);

        &-p {
            margin-bottom: 2rem;
            font-size: 1.2rem;
            font-weight: 300;
            color: #fff;
            letter-spacing: 2px;
        }

        &-btn {
            padding: 1rem;
            margin: 1rem;
        }
    }

    &-h1 {
        padding-bottom: 0;
        margin-top: 4rem;
        margin-bottom: 0;
        font-family: 'Lato', 'Roboto', sans-serif;
        font-size: 5rem;
        font-weight: 400;
        text-transform: uppercase;
        color: #fff;
    }

    &-h3 {
        font-weight: 400;
        font-size: 1rem;
        text-transform: uppercase;
        color: #e9e2e2;
        letter-spacing: 2px;
    }

    &-box {
        font-size: 1.2rem;
        font-weight: 300;
        display: inline-block;
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 800px;
        padding: 1rem;
        border-top: solid #fff 1px;
        border-bottom: solid #fff 1px;
        color: #fff;
        letter-spacing: 3px;

        &-p {
            padding: 0;
        }

    }

    
}

.hero-main-butn {
    a {
       
        transition: all .5s ease-out;
        &.butn {
            font-size: 1.2rem;
            font-weight: 300;
            text-decoration: none;
            margin: 2rem ;
            padding: 1rem;
            border-radius: 5px;
            
            
            &-danger {
                color: #fff;
                background: #ff0000;
                transform: scale(1);
                
                &:hover,
                &:focus {
                    background: #0000ff;
                    transform: scale(0.9);
                }
            }
        }
        
    }   
}

main {
    background: #fff;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;

    .order{
        background: #101010;
        color: #fff;

        &-p {
            font-size: 1.5rem;
            text-align: center;
            padding: 1rem;
        }

        &-link {
            text-decoration: none;
            color: #F7FF00;

            &:hover {
                color: #0000ff;
            }
        }
    }

    .intro {
        &-h2 {
            font-size: 2rem;
            font-weight: 900;
            text-align: center;
            text-transform: uppercase;
            padding-top: 1rem;
        }
        
    }

    .notice {
        align-items: center;
        padding: 2rem 8rem;
        font-weight: 400;
        line-height: 1.6;

        &-h4{
            font-size: 1.6rem;
            text-align: center;
        }

        &-p {
            font-size: 1.1rem;
            text-align: center;
        }

        &-btn {
            // display: inline-block;
            margin-bottom: 1rem;
            margin: 1.5rem auto;
            width: 300px;
            box-shadow: none;
            cursor: pointer;
            text-align: center;
            text-transform: uppercase;
            transform: scale(1);
            transition: all .2s ease-out;

            &:hover {
                transform: scale(0.9);
            }
        }
        
        &-link {
            box-shadow: none;
            border-radius: 5px;
            padding: 1rem;
            width: 300px;
            text-decoration: none;
            color: #fff;
            background: #ff0000; 

            &:hover {
                background: #0000ff;
                color: #fff;
            }
        }
        
    }

    .testimony {
        width: 100%;
        font-weight: 400;

        &-header {
            padding: 2rem;
            margin: auto 3rem;
            text-align: center;
            text-transform: uppercase;

            &-h5 {
                font-family: 'Lora', sans-serif;
                font-size: 1.4rem;
                font-weight: 700;
            }
        }

        &-slider {
            height: 450px;
            background: #444;

            &-p {
                
                font-size: 1.2rem;
            }
        }
    }

    .ideas{

        &-h2 {
            text-align: center;
            font-size: 2rem;
        }

        &-main {
            text-align: center;
            padding: 1rem 20rem;

            &-p{
                font-size: 1.2rem;
                margin-bottom: 1rem;
            }
        }
    }

    .introdu{
        font-family: 'Lora', serif;
        background: #1CFF00;
        color: #000;
        text-align: center;
        padding: 1rem;
        font-weight: 300;
        align-items: center;
        margin: auto;

        &-h1{
            font-size: 3rem;
            font-weight: 900;
        }

        &-h3{
            margin: auto;
            width: 868px;
            align-items: center;
            font-size: 1rem;
            font-weight: 600;
            color: #000;

            &.h3-1 {
                margin: 1rem auto;
                padding-bottom: 1rem;
            }
        }
    }

    .alovera {
        margin: 1rem auto 2rem auto;
        width: 100%;
        
        &-content {
            padding: 3px 2rem;
            text-align: center;

            &-h1 {
                color: #FF0000;
                font-family: "Lora", Sans-serif;
                font-size: 30px;
                font-weight: 700;
                line-height: 1.4em;
                letter-spacing: 1px;
            }

            &-p {
                color: #000000;
                font-family: "Lora", Sans-serif;
                font-size: 20px;
                font-weight: 500;
                line-height: 1.4em;
                letter-spacing: 1px;
            }
        }
    }

    .alovera-ideas{

        &-content {
            width: 645px;
            align-items: center;
            margin: auto;
            text-align: center;
        }
        &-h3 {
            color: #000000;
            font-family: "Lora", Sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.4em;
        }
    }

    .asec {
       padding: 2rem;
       margin: auto;
       text-align: center;

        &-body {
            color: rgba(255,255,255,0.5);
            font-family: "Lora", Sans-serif;
            font-size: 18px;
            font-weight: 400;
            font-style: italic;
            line-height: 1.4em;
            letter-spacing: 0.5px;
            margin-top: 2rem;
        }

        &-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-right: auto;
            margin-left: auto;
            position: relative;
            width: 1056px;
        }
    }
}

.my-h1 {
    text-align: center;
    font-family: "Lora", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4em;
    letter-spacing: 1px;
}

.under,
.under-line,
.under-star {
    display: inline-block;
}

.under {
    align-items: center;
    padding-right: 4rem;
    padding-left: 8rem;
    display: inline;
    margin-bottom: 1rem;

    & .under-line {
        padding: 0;
        margin: 0;
        width: 40%;
        height: 1px;
        background: #000;
    }

    & .under-star {
        padding: 0 .9rem;
        font-size: 1.6rem;
        color: #FFB000;
    }
}

.pri {
    &-btn {
        // display: inline-block;
        margin-bottom: 1rem;
        margin: 1.5rem auto;
        width: 350px;
        box-shadow: none;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        transform: scale(1);
        transition: all .2s ease-out;

        &:hover {
            transform: scale(0.9);
        }
    }
    
    &-link {
        box-shadow: none;
        border-radius: 5px;
        padding: 1rem;
        width: 350px;
        text-decoration: none;
        color: #fff;
        background: #ff0000; 

        &:hover {
            background: #0000ff;
            color: #fff;
        }
    }
}

.my-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    // margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.w-64{
    width: 64% !important;
}
.w-40{
    width: 40% !important;
}

.header{

    text-align: center;
    &-name {
        color: #ffffff;
        font-family: "Lora", Sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.4em;
        letter-spacing: 1px;
    }

    &-rev-p {
        color: #aaaaaa;
        font-family: "Lora", Sans-serif;
        font-weight: 400;
        line-height: 1.4em;
        letter-spacing: 1px;
    }
}

.rank-btn   {
    box-shadow: none;
    font-size: 12px;
    padding: 2px;
    background: #562dd4;
    color: #fff;
    width: 60px;
    border-radius: 5px;
    margin: 5px auto;
    align-items: center;
}


.my-card{
    height: 150px;
    box-shadow: #000 2px 1px 20px -6px;
    border-radius: 5px;
    position: relative;
}

.text-cent{
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translate(30%, -50%);
}

.text-card {
    position: relative;
}

.my-arrow {
    font-size: 10rem;
}   

.border{
    background: #ffffff;
    border: 2px solid #002bff !important;
    /* border: #002bff solid 1px; */
}
.top-border{
    background: #ffffff;
    border-top: 2px solid #002bff !important;
    /* border: #002bff solid 1px; */
}

@import 'mobile';
